@import "tailwindcss";

:root {
  --HoverColor: #b2bbff;
}

body {
  background-attachment: fixed;
  background: linear-gradient(
    180deg,
    #1a1f26 7%,
    #181c23 36%,
    #14171f 71%,
    #000 100%
  );
  font-family: Inter;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.myLink {
  text-decoration: none;
}
.myPadding {
  padding-top: 60px;
}
.footer {
  background: linear-gradient(180deg, transparent, #000);
}

.myNavBar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9), transparent);
}
.newIconColor {
  color: #b2bbff;
}
.temp {
  min-height: 500px;
}
.navLinkFont {
  font-size: 16px;
  font-weight: 600;
}

.navLinkItem:hover {
  color: #b2bbff !important;
}
.navLinkItem.active {
  color: #b2bbff !important;
}
.myIcon {
  width: 70px;
  height: 70px;
}
.footer .content {
  margin-top: 8px;
  max-width: 630px;
  text-wrap: wrap;
}
.footer .title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 36px;
}
.mainBg {
  background-image: url(./assets/images/sparkle-bg.png);
}

a {
  font-size: 15px;
  line-height: 25px;
}
.slick-active .card {
  opacity: 1 !important;
  background-color: transparent;
  border: none;
}
.slick-slide img {
  max-height: 500px;
}
.slick-slide div {
  height: 100% !important ;
  display: block;
}

.slick-dots li button::before {
  color: #b2bbff;
  border-radius: 50%;
  background-color: #b2bbff;
  height: 15px;
  width: 15px;
}
.slick-dots li button::before :hover {
  color: blue;
}
.slick-dots li.slick-active button::before {
  background-color: #b2bbff;
  color: #b2bbff;
  opacity: 1;
  filter: drop-shadow(0 0 7.452px #b2bbff);
  height: 16px;
  width: 16px;
}
.freeSz {
  font-size: 12px;
}
.imageOverLay .dwnBtn {
  color: yellow;
}
.scaleUp {
  transition: all 0.2s ease-out;
}
.scaleUp:hover {
  transform: scale(1.05);
}

.gameIcon {
  border-radius: 4px;
  box-shadow: 0 1px 7px #0000001a, 0 4px 5px -1px #0000001f,
    0 10px 15px -5px #0003;

  height: 120px;
  width: 300px;
}
.gameIcon:hover {
  border-radius: 4px;
  outline: solid 1px #f2f4ff;
  outline-offset: -1.5px;
  transform: scale(1.05);
  transition: transform 0.2s;
}
.GatherSection {
  background-image: url(./assets/GatherFriend/blog_bg.webp);
}
.FAQ-Section {
  background-image: url(./assets/FAQ/background_img.jpg);
}
.textHover:focus {
  outline-color: #b2bbff;
  box-shadow: 0px 0px 5px #b2bbff;
}
.HeaderTitle {
  background-color: #b2bbff;
  clip-path: polygon(0 0, 100% 0, calc(100% - 24px) 100%, 0 100%);
  color: #0d0f11;
  display: inline-flex;
  font-style: italic;
  position: relative;
  z-index: 0;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.56px;
  line-height: 28px;
}
.mainBg2 {
  background-size: cover;
  background-image: url(./assets/cardBg.jpg);
}
.testBg {
  background-size: cover;
  background-image: url(./assets/games/Skrew3.png);
}
.supBg {
  background-size: cover;
  background-image: url(./assets/games/cardBg.jpg);
}
.grayBg {
  background-color: #171717;
}
.SupportBg {
  background-image: url(./assets/cardsBg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.SignUpBg {
  background-color: rgb(24, 24, 28);
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 562px;
}
.SignUpTextBg {
  background-color: rgba(255, 255, 255, 0.05);
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: rgba(255, 255, 255, 0.1);
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
}
.txtShadow {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.gameHint {
  font-size: 13px;
  line-height: 16px;
  padding: 3px 12px;
  align-items: center;
  background-color: #e7eaee;
  border-radius: 100px;
  box-sizing: border-box;
  color: #0d0f11;
  display: inline-flex;
  margin-right: 10px;
  margin-top: 6px;
  white-space: nowrap;
  font-family: Inter;
}
.gameOverLayP {
  line-height: 25px;
  max-width: 400px;
}
.GamepageContent .below {
  background-image: url(./assets/games/below1.jpg);
}
.gameDetails {
  background-color: #35373e;
  border-radius: 8px;
  justify-content: space-between;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.gameDetails .detail {
  border-bottom: 1px solid #64748b;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #e7eaee;
  font-family: Inter;
  padding-top: 12px;
}
